h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body-white {
  background-color: #f1eae5;
  font-family: Spectral, sans-serif;
  color: #2f2c29;
  font-size: 22px;
  line-height: 160%;
}

.navbar-light {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  height: 100px;
  border-bottom: 1px solid #2f2c29;
  background-color: transparent;
  color: #2f2c29;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-left: 30px;
  padding: 40px 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button.w--open {
  left: 0px;
  top: 0px;
  bottom: auto;
  background-color: transparent;
}

.nav-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  overflow: auto;
  width: 700px;
  min-height: 0px;
  padding-top: 0px;
  padding-right: 86px;
  padding-left: 86px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f0eb;
}

.navigation-search-wrapper {
  width: 100%;
  padding-bottom: 40px;
}

.section {
  padding-top: 140px;
  padding-bottom: 0px;
}

.h-1 {
  font-family: 'Spectral SC', sans-serif;
  font-size: 100px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.5px;
}

.page-subheader {
  padding-top: 0px;
  font-family: 'Spectral SC', sans-serif;
  color: rgba(47, 44, 41, .7);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
}

.divider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider {
  width: 100px;
  height: 1px;
  background-color: #2f2c29;
}

.basically-wrapper {
  position: relative;
  display: block;
  min-height: 700px;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-container {
  position: relative;
  display: block;
  padding-right: 30px;
  padding-left: 30px;
}

.page-headers-container {
  padding-right: 20px;
  padding-left: 20px;
}

.switch-trigger {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-right: 30px;
  padding: 40px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 160%;
}

.h2 {
  margin-top: 60px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 42px;
  line-height: 160%;
  font-weight: 700;
}

.health {
  color: #d11313;
}

.endurance {
  color: #26a726;
}

.focus {
  color: #5b50e2;
}

.disposition {
  color: #c720c7;
}

.table {
  max-width: 600px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.table-row {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
}

.header-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(47, 44, 41, .1);
  background-color: #dfd0c2;
}

.header-column-text {
  font-family: 'Spectral SC', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.switch-icon {
  display: block;
  height: 20px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(47, 44, 41, .25);
  background-color: transparent;
}

.column-text {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.health-header-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(209, 19, 19, .25);
}

.image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 40%;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smaller-image-header {
  padding-top: 0px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.image-paragraph {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 160%;
}

.header-image-paragraph {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 160%;
}

.health-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-top: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(209, 19, 19, .25);
}

.smaller-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smaller-image-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-header {
  padding-top: 0px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 40px;
  line-height: 160%;
  font-weight: 700;
  text-align: center;
}

.attributes-section-wrapper {
  max-width: 1200px;
  margin-top: 70px;
  padding-right: 0px;
  padding-left: 0px;
}

.smaller-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smaller-image-2 {
  width: 100%;
  min-height: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/hBB1Ejk.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar-dark {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: none;
  height: 100px;
  border-bottom: 1px solid #e8e5c8;
  background-color: transparent;
  color: #2f2c29;
}

.menu-image {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.search-button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 30px;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-button.w--open {
  background-color: transparent;
}

.endurance-header-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(38, 167, 38, .25);
}

.image {
  max-width: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.small-image {
  width: 100%;
  max-width: none;
}

.smaller-image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 300px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.endurance-smaller-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-top: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(38, 167, 38, .25);
}

.book-h1 {
  font-family: 'Spectral SC', sans-serif;
  font-size: 60px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.5px;
}

.intermediary-word {
  display: block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: 'Spectral SC', sans-serif;
  line-height: 160%;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.chapter-navigation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #2f2c29;
  text-decoration: none;
}

.link-block:hover {
  opacity: 1;
  text-decoration: none;
}

.chapter-navigation-text {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Spectral, sans-serif;
  font-size: 22px;
  line-height: 160%;
}

.hero-section {
  min-height: 600px;
  padding-top: 140px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(25, 30%, 92%, .6), #f1eae5), url('../images/athien-final2.jpg');
  background-image: linear-gradient(180deg, hsla(25, 30%, 92%, .6), #f1eae5), url('../images/athien-final2.jpg');
  background-position: 0px 0px, 50% 35%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.in-page-navigation-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 67px 30px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.in-page-navigation-link {
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  font-family: 'Spectral SC', sans-serif;
  color: #2f2c29;
  font-size: 16px;
}

.in-page-navigation-link:hover {
  opacity: 1;
  text-decoration: none;
}

.logo-small {
  display: none;
}

.hero-section-llight {
  min-height: 550px;
  padding-top: 140px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(25, 30%, 92%, .4) -1%, hsla(25, 30%, 92%, .6) 0%, #f1eae5), url('../images/athien-final2.jpg');
  background-image: linear-gradient(180deg, hsla(25, 30%, 92%, .4) -1%, hsla(25, 30%, 92%, .6) 0%, #f1eae5), url('../images/athien-final2.jpg');
  background-position: 0px 0px, 50% 35%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.hero-section-dark {
  display: none;
  min-height: 550px;
  padding-top: 140px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(47, 44, 41, .6), #2f2c29), url('../images/athien-final2.jpg');
  background-image: linear-gradient(180deg, rgba(47, 44, 41, .6), #2f2c29), url('../images/athien-final2.jpg');
  background-position: 0px 0px, 50% 35%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  opacity: 0;
}

.h3 {
  margin-top: 30px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.images-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-image {
  width: auto;
  max-width: 23%;
  margin: 20px 8px;
}

.image-name {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
  font-family: 'Spectral SC', sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  text-align: center;
}

.h-4 {
  margin-top: 30px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.slider {
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.slide-nav {
  display: none;
}

.slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-field {
  height: 100px;
  padding-right: 19px;
  padding-left: 19px;
  border-style: none none solid;
  border-width: 1px;
  border-color: transparent transparent rgba(47, 44, 41, .2);
  background-color: transparent;
  font-family: Spectral, sans-serif;
  font-size: 32px;
  text-align: center;
}

.search-field:focus {
  border-bottom-color: #2f2c29;
}

.nav-manu-container {
  display: block;
  padding: 100px 20px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.dropdown {
  width: 70%;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  position: relative;
  opacity: 0.9;
}

.big-link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Spectral SC', sans-serif;
  color: #2f2c29;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
}

.big-link:hover {
  text-decoration: none;
}

.big-link.w--open {
  font-size: 32px;
}

.small-link {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-family: Spectral, sans-serif;
  color: #2f2c29;
  font-size: 24px;
  font-weight: 500;
}

.small-link.w--open {
  font-weight: 400;
}

.smaller-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  font-family: Spectral, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.smallest-link {
  display: block;
  padding: 7px 20px 7px 80px;
  font-family: Spectral, sans-serif;
  color: #2f2c29;
  font-size: 15px;
  font-weight: 500;
}

.the-smallest-link {
  display: block;
  padding: 7px 20px 7px 100px;
  font-family: Spectral, sans-serif;
  color: #2f2c29;
  font-size: 15px;
  font-weight: 500;
}

.links-wrapper {
  width: 100%;
}

.small-logo {
  display: none;
}

@media (max-width: 991px) {
  .nav-menu {
    width: 100%;
    padding-right: 74px;
    padding-left: 74px;
  }
  .h-1 {
    font-size: 50px;
  }
  .page-subheader {
    font-size: 16px;
  }
  .switch-icon {
    height: 15px;
  }
  .book-h1 {
    font-size: 50px;
  }
  .in-page-navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .in-page-navigation-link {
    font-size: 16px;
  }
  .logo-large {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .hero-image {
    max-width: 40%;
  }
  .nav-manu-container {
    padding-top: 75px;
  }
  .links-wrapper {
    width: 100%;
  }
  .small-logo {
    display: block;
  }
  .big-logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-menu {
    padding-right: 50px;
    padding-left: 50px;
  }
  .page-subheader {
    font-size: 16px;
  }
  .image-text-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .image-header {
    font-size: 32px;
  }
  .smaller-text-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
  .in-page-navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .search-field {
    font-size: 24px;
  }
  .nav-manu-container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .body-white {
    font-size: 20px;
    line-height: 130%;
  }
  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 11px;
    padding-top: 42px;
  }
  .menu-button.w--open {
    margin-left: 5px;
  }
  .nav-menu {
    position: fixed;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h-1 {
    display: block;
    font-size: 32px;
  }
  .page-subheader {
    line-height: 160%;
  }
  .divider-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .basically-wrapper {
    padding-top: 0px;
  }
  .text-container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 160%;
  }
  .switch-trigger {
    margin-right: 15px;
  }
  .paragraph {
    display: inline-block;
    font-size: 20px;
  }
  .h2 {
    font-size: 32px;
    line-height: 160%;
  }
  .header-column-text {
    font-size: 18px;
  }
  .health-header-image-and-text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-wrapper {
    width: 100%;
    height: 200px;
  }
  .image-text-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
  .smaller-image-header {
    font-size: 26px;
  }
  .image-paragraph {
    font-size: 16px;
  }
  .header-image-paragraph {
    max-width: 100%;
    font-size: 18px;
    line-height: 160%;
  }
  .health-image-and-text-block {
    width: 100%;
  }
  .smaller-image-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-header {
    font-size: 28px;
  }
  .attributes-section-wrapper {
    max-width: auto;
  }
  .endurance-header-image-and-text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .small-image {
    display: block;
  }
  .smaller-image-wrapper {
    display: block;
    width: 100%;
    height: 400px;
  }
  .endurance-smaller-image-and-text-block {
    width: 100%;
  }
  .book-h1 {
    display: block;
    font-size: 30px;
  }
  .intermediary-word {
    display: inline-block;
    font-size: 20px;
  }
  .chapter-navigation-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .link-block {
    width: 100%;
    margin-top: 26px;
  }
  .chapter-navigation-text {
    font-size: 20px;
  }
  .hero-section {
    min-height: 400px;
    padding-top: 108px;
  }
  .in-page-navigation-container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 160%;
  }
  .in-page-navigation-link {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .logo-small {
    display: block;
  }
  .hero-section-llight {
    min-height: 400px;
    padding-top: 108px;
  }
  .hero-section-dark {
    min-height: 400px;
    padding-top: 108px;
  }
  .hero-image {
    max-width: 100%;
  }
  .slider {
    height: auto;
  }
  .search-field {
    padding-right: 23px;
    padding-left: 23px;
    font-size: 18px;
  }
  .nav-manu-container {
    padding-top: 85px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .big-link {
    font-size: 26px;
  }
  .big-link.w--open {
    font-size: 26px;
  }
  .small-link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }
  .smaller-link {
    font-size: 16px;
  }
  .smallest-link {
    font-size: 14px;
  }
  .search-image {
    height: 20px;
  }
}

