h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body-white {
  background-color: #f1eae5;
  font-family: Spectral, sans-serif;
  color: #2f2c29;
  font-size: 22px;
  line-height: 160%;
}

.navbar-light {
  height: 100px;
  border-bottom: 1px solid #2f2c29;
  background-color: #f1eae5;
  color: #2f2c29;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.switch {
  max-width: none;
  margin-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu-button {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 30px;
  padding: 40px 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button.w--open {
  background-color: transparent;
}

.menu-button-image {
  display: block;
}

.nav-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  height: 100%;
  max-width: 100%;
  padding-top: 0px;
  padding-right: 86px;
  padding-left: 86px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.navigation-link {
  display: block;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover {
  text-decoration: none;
}

.navigation-link.w--current {
  color: #2f2c29;
}

.navigation-logo-wrapper {
  padding-top: 75px;
  padding-bottom: 54px;
}

.section {
  padding-top: 50px;
  padding-bottom: 0px;
}

.page-header {
  font-family: 'Spectral SC', sans-serif;
  font-size: 100px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.5px;
}

.page-subheader {
  padding-top: 0px;
  font-family: 'Spectral SC', sans-serif;
  color: rgba(47, 44, 41, .7);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
}

.divider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider {
  width: 100px;
  height: 1px;
  background-color: #2f2c29;
}

.basically-wrapper {
  display: block;
  min-height: 700px;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-container {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
}

.page-headers-container {
  padding-right: 20px;
  padding-left: 20px;
}

.switch-trigger {
  margin-right: 30px;
  padding: 20px;
}

.switcher-wrapper {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.switcher-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 160%;
}

.header {
  margin-top: 60px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 42px;
  line-height: 160%;
  font-weight: 700;
}

.health {
  color: #d11313;
}

.endurance {
  color: #26a726;
}

.focus {
  color: #5b50e2;
}

.disposition {
  color: #c720c7;
}

.table {
  max-width: 600px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.table-row {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
}

.header-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(47, 44, 41, .1);
  background-color: #dfd0c2;
}

.header-column-text {
  font-family: 'Spectral SC', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.switch-icon {
  display: block;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(47, 44, 41, .25);
  background-color: transparent;
}

.column-text {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.health-header-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(209, 19, 19, .25);
}

.image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 40%;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smaller-image-header {
  padding-top: 0px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.image-paragraph {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 160%;
}

.header-image-paragraph {
  display: inline-block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 160%;
}

.health-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-top: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(209, 19, 19, .25);
}

.smaller-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smaller-image-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-header {
  padding-top: 0px;
  font-family: 'Spectral SC', sans-serif;
  font-size: 40px;
  line-height: 160%;
  font-weight: 700;
  text-align: center;
}

.attributes-section-wrapper {
  max-width: 1200px;
  padding-right: 0px;
  padding-left: 0px;
}

.smaller-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smaller-image-2 {
  width: 100%;
  min-height: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/hBB1Ejk.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar-dark {
  display: none;
  height: 100px;
  border-bottom: 1px solid #e8e5c8;
  background-color: #2f2c29;
  color: #2f2c29;
}

.image-2 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.search-button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 30px;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-button.w--open {
  background-color: transparent;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.endurance-header-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-top: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(38, 167, 38, .25);
}

.image {
  width: 150%;
  max-width: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.small-image {
  width: 100%;
  max-width: none;
}

.smaller-image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 300px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.endurance-smaller-image-and-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-top: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(38, 167, 38, .25);
}

.book-page-chapter-number {
  font-family: 'Spectral SC', sans-serif;
  font-size: 100px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.5px;
}

.book-page-chupter-name {
  font-family: 'Spectral SC', sans-serif;
  font-size: 60px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.5px;
}

.intermediary-word {
  display: block;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: 'Spectral SC', sans-serif;
  line-height: 160%;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.container-2 {
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.chapter-navigation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #2f2c29;
  text-decoration: none;
}

.link-block:hover {
  opacity: 1;
  text-decoration: none;
}

.chapter-navigation-text {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Spectral, sans-serif;
  font-size: 22px;
  line-height: 160%;
}

@media (max-width: 991px) {
  .page-header {
    font-size: 50px;
  }
  .page-subheader {
    font-size: 16px;
  }
  .switcher-wrapper {
    position: relative;
  }
  .book-page-chapter-number {
    font-size: 50px;
  }
  .book-page-chupter-name {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .page-subheader {
    font-size: 16px;
  }
  .switcher-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .image-text-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .smaller-text-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 479px) {
  .body-white {
    font-size: 20px;
    line-height: 130%;
  }
  .page-header {
    display: block;
    font-size: 30px;
  }
  .page-subheader {
    line-height: 160%;
  }
  .basically-wrapper {
    padding-top: 0px;
  }
  .text-container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 160%;
  }
  .switcher-wrapper {
    position: relative;
  }
  .paragraph {
    display: inline-block;
    font-size: 20px;
  }
  .header {
    font-size: 32px;
    line-height: 160%;
  }
  .header-column-text {
    font-size: 18px;
  }
  .health-header-image-and-text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-wrapper {
    width: 100%;
    height: 400px;
  }
  .image-text-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
  .smaller-image-header {
    font-size: 28px;
  }
  .image-paragraph {
    font-size: 18px;
  }
  .header-image-paragraph {
    max-width: 100%;
    font-size: 20px;
  }
  .health-image-and-text-block {
    width: 100%;
  }
  .smaller-image-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .attributes-section-wrapper {
    max-width: auto;
  }
  .endurance-header-image-and-text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .smaller-image-wrapper {
    width: 100%;
    height: 400px;
  }
  .endurance-smaller-image-and-text-block {
    width: 100%;
  }
  .book-page-chapter-number {
    display: block;
    font-size: 30px;
  }
  .book-page-chupter-name {
    display: block;
    font-size: 30px;
  }
  .intermediary-word {
    display: inline-block;
    font-size: 20px;
  }
}

